@import '~bootstrap/dist/css/bootstrap.min.css';

/*
#8D6A9F - main purple
#120D31 - main dark blue
#CCE6F6 - main light blue
#4BA3C3 - blue
#D62839 - red
#F5CB5C - yellow - E9D758 - #FFE45E - good one
#F0F8FF - white
#35CE8D - green
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8D6A9F;
  color: #F0F8FF;
}

.btn {
  color: #F0F8FF;
  border-color: #F0F8FF;
}

.clickable {
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.clickable:hover {
  border-color: #FFE45E;
  color: #FFE45E;
}

.clickable:hover:disabled {
  border-color: #F0F8FF;
  color: #F0F8FF;
}

::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.top-bar {
  height: 5vh;
}

.green-border {
  border-color: #35CE8D!important;
  color: #35CE8D!important;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  border-bottom: 1px solid #F0F8FF;
}

.container {
  height: 100vh;
  text-align: center;
}

#logo {
  color: #FFE45E;
  position: absolute;
  left: 5vh;
  bottom: 5vh;
}

.form-container {
  padding-top: 25vh;
}

.form-control, .form-control:focus {
  background-color: transparent;
  border-color: #F0F8FF;
  color: #F0F8FF;
}

.form-group__label {
  margin-top: .5rem;
  margin-bottom: 0;
}

.event {
  text-align: right;
}

.main-content__left {
  padding-right: 0;
}

.main-content__right {
  padding-left: 15px;
}

.info {
  height: 85vh;
  padding-right: 15px;
  text-align: left;
  border-right: 1px solid #F0F8FF;
  font-size: 3rem;
  overflow: scroll;
}

.address {
  font-size: 2rem;
  border-bottom: 1px solid #F0F8FF;
}

.info ul {
  padding-left: 0;
  list-style-type: none;
}

.info__event {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.info__event__icon {
  font-size: .7em;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #F0F8FF;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member__icon {
  font-size: .6em;
  align-self: center;
}

.ymap {
  height: 35vh;
}

ymaps {
  transition: height .15s ease-in-out 0s;
  /*transition-duration: .15s;*/
  /*transition-timing-function: ease-in-out;*/
}

.map-hidden ymaps, .map-hidden .ymap {
  height: 0!important;
}

.entrance-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(40, 44, 52, .9);
  font-size: 2rem;
}

.entrance-modal__hidden {
  display: none;
}

.entrance-modal__form {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 2vh 2vw;
  min-width: 30vw;
  background-color: #8d6a9f;
  z-index: 100;
  opacity: initial;
  overflow: scroll;
}

.entrance-modal__add {
  font-size: 2rem;
  border: 1px solid #F0F8FF;
}

.entrance-modal__member {
  margin-bottom: 2vh;
  border-bottom: 1px solid #F0F8FF;
}
