@import '~bootstrap/dist/css/bootstrap.min.css';

/*
#8D6A9F - main purple
#120D31 - main dark blue
#CCE6F6 - main light blue
#4BA3C3 - blue
#D62839 - red
#F5CB5C - yellow - E9D758 - #FFE45E - good one
#F0F8FF - white
#35CE8D - green
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8D6A9F;
  color: #F0F8FF;
}

.btn {
  color: #F0F8FF;
  border-color: #F0F8FF;
}

.btn:hover {
  color: #FFE45E;
}

.top-bar {
  height: 5vh;
}

.green-border {
  border-color: #35CE8D!important;
  color: #35CE8D!important;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  border-bottom: 1px solid #F0F8FF;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
}

.code:hover {
  border-bottom-color: #FFE45E;
  color: #FFE45E;
}

.container {
  height: 100vh;
  text-align: center;
}

#logo {
  color: #FFE45E;
  position: absolute;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  left: 5vh;
  /*right: 0;*/
  bottom: 5vh;
}

.form-container {
  padding-top: 25vh;
}

.form-control, .form-control:focus {
  background-color: transparent;
  border-color: #F0F8FF;
  color: #F0F8FF;
}

.event {
  text-align: right;
}

.main-content__left {
  padding-right: 0;
}

.main-content__right {
  padding-left: 0;
}

.info {
  height: 85vh;
  padding-right: 15px;
  text-align: left;
  border-right: 1px solid #F0F8FF;
  font-size: 3rem;
  overflow: scroll;
}

.info ul {
  padding-left: 0;
  list-style-type: none;
}

.info__event {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.info__event__icon {
  font-size: .7em;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #F0F8FF;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member__icon {
  font-size: .6em;
  align-self: center;
}

